{
	"semi": true,
	"useTabs": true,
	"tabWidth": 4,
	"bracketSpacing": true,
	"jsxBracketSameLine": true,
	"printWidth": 100,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"singleQuote": true,
	"overrides": [
		{
			"files": ".prettierrc",
			"options": { "parser": "json" }
		}
	]
}
