<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<title>New Tab</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css"
		/>
		<link rel="stylesheet" href="./style.css" />
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<style>
			.child {
				margin: 0.5em 0.75em;
			}
		</style>
	</head>
	<body>
		<section id="app" class="section">
			<div class="container">
				<h1 class="title">
					Hello Vincent!
				</h1>
				<br />
				<p class="subtitle">
					资源导航
				</p>
				<div class="columns">
					<div v-for="lists in nav" class="column">
						<div class="menu">
							<h3 class="heading">{{lists.name}}</h3>
							<ul class="menu-list">
								<!-- 如果是列表 -->
								<li v-if="lists.list" v-for="list in lists.list">
									<a :href="list.src">{{list.title}}</a>
								</li>
								<!-- 如果有子节点 -->
								<li class="child" v-if="lists.child" v-for="child in lists.child">
									<p>{{child.title}}</p>
									<ul class="menu-list">
										<li v-for="list in child.list">
											<a :href="list.src">{{list.title}}</a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</section>
		<script src="./main.js"></script>
	</body>
</html>
